* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: mintcream 10%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: 'Abril Fatface', cursive;
}

h1, h2, h4, h5, h6 {
    padding-top: 10vw;
    font-family: 'Abril Fatface', cursive;
    color: dimgrey;
}

h3, p {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    color: dimgrey;
}

.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */


#profile {
    border-radius: 50%;
    box-shadow: 20px 10px 50px 10px beige;
}

#PDFres {
    display: block;
}

/* Container for iframe */
.pdfContainer {
    position: relative;
    overflow: hidden;
    width: 80%;
    padding-top: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* To make iframe responsive */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#resPDF {
    display: none;
}

/* Container for resume */
.resumeContainer {
    width: 80%;
    height: 100%;
}

#PDF {
    display: block;
}
  
/* Position the image container (needed to position the left and right arrows) */
.container {
position: relative;
width: 70%;
margin: auto;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
cursor: pointer;
position: absolute;
top: 40%;
width: auto;
padding: 16px;
margin-top: -50px;
color: dimgrey;
font-weight: bold;
font-size: 20px;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
background-color:lemonchiffon;
}

/* Number text (1/3 etc) */
.numbertext {
color: dimgrey;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
font-family: 'Poppins', sans-serif;
}

/* Container for image text */
.caption-container {
text-align: center;
background-color: lemonchiffon;
padding: 2px 16px;
color: dimgrey;
}

.row:after {
content: "";
display: table;
clear: both;
}

/* Thumbnail images in slideshow */
.column {
float: left;
width: 14.26%;
}

/* Add a transparency effect for thumnbail images */
.demo {
opacity: 0.3;
}

.active,
.demo:hover {
opacity: 1;
}

.w3-card-4 {
    margin: auto;
}

#openPDF {
    font-family: 'Poppins', sans-serif;
    background-color: lightcyan;
    margin: 30px;
    padding: 5px 10px;
    text-align: center;  
    border-radius: 8px;
    border: 1px solid dimgrey;    
    display: inline;
}

#closePDF {
    font-family: 'Poppins', sans-serif;
    background-color: lightcyan;
    margin: 30px;
    padding: 5px 10px;
    text-align: center;  
    border-radius: 8px;
    border: 1px solid dimgrey; 
    display: none;
}

iframe {
    margin: 0 auto;
    display: block;
}

footer {    
    text-align: center;
}

#linkicon, #giticon {
    height: 30px;     
}