* {
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: lemonchiffon;
    border-bottom: 2px solid gainsboro;
    position: fixed;
    top: 0%;
    width: 100%;
}

body {
    background: linear-gradient(135deg, mintcream 10%, lightcyan 50%, rgb(194, 239, 239));
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: 'Abril Fatface', cursive;
}

h1 {
    padding-top: 100px;
}

p {
    font-size: 2em;
    font-family: 'Text Me One', sans-serif;
}

.carousel-container {
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.carousel-images {
    width: 80%;
    background: lavenderblush;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px lemonchiffon;
}

.carousel-images .images {
    width: 100%;
    border-radius: 10px;
    display: none;
}

.picture {
    width: 100%;
}

.carousel-images .images:first-of-type {
    display: block;
}

.carousel-button {
    align-self: center;
    background: lemonchiffon;
    color: gainsboro;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px lavenderblush;
}

.carousel-button:hover {
    cursor: pointer;
    background: lavenderblush;
    box-shadow: 1px 1px lemonchiffon;
    color: white;
}

/* .img-fluid {
    border-radius: 20px;
    box-shadow: -20px -5px 40px 10px lavenderblush;
} */

footer {
    background-color: lemonchiffon;
    border-top: 2px solid gainsboro;
    height: 70px;
    text-align: center;
}

#linkicon, #giticon {
    padding-top: 10px;
    height: 50px; 
}