* {
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: lemonchiffon;
    border-bottom: 2px solid gainsboro;
    position: fixed;
    top: 0%;
    width: 100%;
}

body {
    background: linear-gradient(135deg, mintcream 10%, lightcyan 50%, rgb(194, 239, 239));
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: 'Abril Fatface', cursive;
}

h1 {
    padding-top: 100px;
}

p {
    font-size: 30px;
    height: 200px;
    font-family: 'Text Me One', sans-serif;
}

.img-fluid {
    border: 2px solid gainsboro;
    border-radius: 20px;
}

footer {
    background-color: lemonchiffon;
    border-top: 2px solid gainsboro;
    height: 70px;
    text-align: center;
}

#linkicon, #giticon {
    padding-top: 10px;
    height: 50px; 
}